
.visible_div{
    background-color: #f5e5d0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}

.myBtn{
    border-radius: 100%;
}

.myBtn:hover{
    background-color: aqua;
    border-radius: 50%;
}

.hiddenDiv{
    display: none;
}