
.visible_div{
    box-shadow: 0 0 7px #666;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}

.myBtn{
    border-radius: 100%;
}

.myBtn:hover{
    background-color: aqua;
    border-radius: 50%;
}

.hiddenDiv{
    display: none;
}
