
.visible_div{
    background-color: #ffc97f;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}

.myBtn{
    border-radius: 100%;
}

.hiddenDiv{
    display: none;
}