body{
    background-color: red;
}

.margin10{
    margin-top: 10px;
}

.container_100, .navPadding {
    padding: 0 150px;
  }
  
  .divWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .leftFilterSide {
    width: 30%;
    margin-top: 10px;
    border: solid 1px;
    padding: 10px;
  }

  .filterWrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .priceDivWrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .rightListSide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card{
    margin: 10px;
  }
  
  .buttonSymbol {
    border-width: 1px;
  }
  
  .minus {
    background: white;
    color: white;
    border-color: white;
    background: red;
  }
  
  .plus {
    background: white;
    color: white;
    border-color: white;
    background: green;
  }
  
  * {
    font-size: 9px;
  }